.App {

  display: flex;
  flex-direction: column;
 

}

body{
  background: rgb(0,4,40);
  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
  color: white;


}

.info {
  display: flex ;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.info input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;


}

button{
  width: 250px;
  height: 50px;
  margin-top: 15px;
  background-color:#121414;
	border-radius:28px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;

}

button:hover{
  cursor: pointer;
  background-color:#808080;

}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 20px;
}
